<!DOCTYPE html>
<html>
  <head>
    <title>Hello Node and SQL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./controllers/controller.js"></script>
  </head>
  <body>
    <div id='container'>
        <input type='text' id='author'></input>
        <input type='text' id='title'></input>
        <input type='text' id='body'></input>
        <button id='insert'>Insert</button>
        <button id='submit' class='buttons'>Submit</button>
        <button id='show' class='buttons'>Show</button>
        <p id='results'></p>
        <ol id = 'listOfSimilarBooks'></ol>
    </div>
  </body>
</html>
